
<div class="container">
    <div class="text-center mt-5"><h1 class="d-inline">Welcome, <p class="text-primary d-inline">Admin.</p></h1></div>
    
    <div class="text-center mt-4">
        <button type="button" class="btn btn-primary m-3 d-inline">Create Shoe Entry</button>
        <button type="button" class="btn btn-primary m-3 d-inline">View All Shoe Entries</button>
        <button type="button" class="btn btn-primary m-3 d-inline">Update Shoe Entry</button>
        <button type="button" class="btn btn-primary m-3 d-inline">Delete Shoe Entry</button>
    </div>
    
</div>